<!-- Start slider -->
<section id="aa-slider">
  <div class="aa-slider-area">
    <div id="sequence" class="seq">
       <ul class="seq-canvas">
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <img data-seq src="<%= image_path("slider/1.jpg") %>" alt="Men slide img" />
            </div>
            <div class="seq-title">
             <span data-seq>Tagline</span>
              <h2 data-seq>Title</h2>
              <p data-seq>Description goes here.</p>
              <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">Button Text</a>
            </div>
          </li>
          <li>
            <div class="seq-model">
              <img data-seq src="<%= image_path("slider/1.jpg") %>" alt="Men slide img" />
            </div>
            <div class="seq-title">
             <span data-seq>Tagline</span>
              <h2 data-seq>Title</h2>
              <p data-seq>Description goes here.</p>
              <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">Button Text</a>
            </div>
          </li>
        </ul>
      <!-- slider navigation btn -->

<!--               <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
              </fieldset> -->

    </div>
  </div>
</section>
<!-- / slider -->
